@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="row g-3">
    <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Nombre del producto</label>
        <input type="text" class="form-control" id="validationDefault01" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Existencia</label>
        <input type="number" class="form-control" id="validationDefault02" value="Otto" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault04" class="form-label">Categoría</label>
        <select class="form-select" id="validationDefault04" required>
            <option selected disabled value="">Choose...</option>
            <option>Electrónica</option>
            <option>Cómputo</option>
            <option>Celulares</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="validationDefault05" class="form-label">Precio</label>
        <input type="number" class="form-control" id="validationDefault05" required>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</form>